<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit <%= lens.make %> <%= lens.focalLength %>mm</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <%- include('../partials/_fonts') %>
    </head>
    <body class="bg-gray-300">
        <%- include('../partials/_navbar') %>
        <div class="flex justify-center mt-16 p-1">
            <h1 class="font-anton text-3xl">Edit your <%= lens.model %></h1>
        </div>
        <div class="flex justify-center">
            <form action="/users/<%= user._id %>/lens/<%= lens._id %>?_method=PUT" method="POST" class="flex flex-col border-2 p-7 rounded-lg bg-gray-400">
                <label for="make" class="text-xl font-marcellus">Make</label>
                <input type="text" name="make" value="<%= lens.make %>" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1">
                <label for="focalLength" class="text-xl font-marcellus">Focal Length</label>
                <input type="text" name="focalLength" value="<%= lens.focalLength %>" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1">
                <label for="aperture" class="text-xl font-marcellus">Aperture</label>
                <input type="text" name="aperture" id="" value="<%= lens.aperture %>" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1">
                <label for="sensor" class="text-xl font-marcellus">Sensor</label>
                <select name="sensor" id="" value="<%= lens.sensor %>" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1">
                    <option value="APS-C">APS-C</option>
                    <option value="Full Frame">Full Frame</option>
                </select>
                <label for="zoom" class="text-xl font-marcellus">Zoom</label>
                <select name="zoom" id="" value="<%= lens.zoom %>" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1">
                    <option value="Zoom">Zoom</option>
                    <option value="Prime">Prime</option>
                </select>
                <label for="focus" class="text-xl font-marcellus">Focus</label>
                <select name="focus" id="" value="<%= lens.focus %>" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1">
                    <option value="Auto-Focus">Auto Focus</option>
                    <option value="Manual Focus">Manual Focus</option>
                </select>
                <div class="flex justify-center">
                    <button type="submit" class="bg-zinc-800 rounded px-3 py-2 hover:bg-zinc-400 text-white">Update lens</button>
                </div>
            </form>
        </div>
    </body>
</html>