<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show <%= camera.model %></title>
    </head>
    <body>
        <%- include('../partials/_navbar') %>
        <h1><%= camera.make %> <%= camera.model %> Specs</h1>
        <div class="camera-details">
            <p> <%= camera.make %> 
                <%= camera.model %> 
                <%= camera.sensor %> 
                <%= camera.megapixels %>
                <%= camera.isInBag %>
            </p>
            <a href="/users/<%= user._id %>/camera/<%= camera._id %>/edit">Edit</a>
        </div>
    </body>
</html>