<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show <%= camera.model %></title>
        <link rel="stylesheet" href="/assets/styles.css">
        <%- include('../partials/_fonts') %>
    </head>
    <body class="bg-gray-300">
        <%- include('../partials/_navbar') %>
        <div class="flex justify-center mt-16 p-1">
            <h1 class="font-anton text-3xl"><%= camera.make %> <%= camera.model %> Specs</h1>
        </div>
        <div class="flex justify-center mx-10 px-4 mt-24 mb-24">
            <ul class="pl-10 border-2 p-7 rounded-lg bg-gray-400">
                <li class="mx-1 my-2 font-marcellus text-2xl"><%= camera.make %> <%= camera.model %></li>
                <li class="mx-1 my-2 font-marcellus text-2xl"><%= camera.sensor %> sensor</li>
                <li class="mx-1 my-2 font-marcellus text-2xl"><%= camera.megapixels %>MP</li>
                <li class="mx-1 my-2 font-marcellus text-2xl"><%= camera.isInBag %></li>
                <li class="mx-1 my-2 font-marcellus text-2xl"><%= camera.type %></li>
            </ul>
        </div>
            <div class="flex justify-evenly">
                <a class="bg-zinc-800 rounded px-3 py-2 hover:bg-zinc-400 text-white" href="/users/<%= user._id %>/camera/<%= camera._id %>/edit">Edit</a>
                <form action="/users/<%= user._id %>/camera/<%= camera._id %>?_method=DELETE" method="POST">
                    <button class="bg-zinc-800 rounded px-3 py-2 hover:bg-zinc-400 text-white">Remove</button>
                </form>
            </div>
    </body>
</html>